.filter-search,
.minimized-filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DDDDDD;
    border-radius: rem(32px);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    font-family: AirbnbCereal-Medium;
    color: rgb(92, 92, 92);
    z-index: 1;
    height: rem(65px);
    cursor: pointer;

    &.active-filter {
        background-color: #ebebeb;
    }

    .where-input,
    .checkin-input,
    .checkout-input,
    .who-input {
        display: none;
        height: fit-content;
        border: 1px solid black;
        padding-block: rem(24px);
        border-radius: rem(24px);

        input {
            width: 100%;
        }
    }

}

.filter-search {
    width: 100%;
    font-size: rem(12px);
    padding-inline-start: rem(10px);

    .border-div {
        display: none;

        &.hide-border {
            visibility: hidden;
        }
    }

    button {
        display: none;
    }

    .mobile-filter {
        display: flex;
        align-items: center;
        gap: rem(14px);

        svg {
            width: rem(24px);
            height: rem(24px);
        }

        p:first-child {
            font-size: rem(14px);
            font-family: AirbnbCereal-Medium;
        }

        p:nth-child(2) {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            width: 48vw;
            font-size: rem(11px);
            font-family: AirbnbCereal-Light;
        }
    }
}

.minimized-filter {
    gap: rem(10px);
    width: max-content;
    height: auto;
    font-size: rem(14px);
    padding: rem(8px) rem(8px) rem(8px) rem(20px);

    .border-div {
        display: block;
        border-left: 1px solid #DDDDDD;
        height: rem(24px);
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        padding: rem(8px);
        margin-inline-start: rem(10px);
        transition: background-color 300ms;

        &:hover {
            background: #E00B41;
            // background: linear-gradient(90deg, #FF385C 5%, #E00B41 95%);
        }

        svg {
            fill: white;
            width: rem(14px);
            height: rem(14px);
        }
    }
}

@include for-normal-layout {

    .filter-search,
    .minimized-filter {

        .where-input,
        .checkin-input,
        .checkout-input,
        .who-input {
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block: 0;
        }
    }

    .filter-search {
        min-height: rem(56px);
        margin-block-end: rem(12px);
        padding-inline-start: 0;

        input {
            font-family: AirbnbCereal-Light;
            font-size: rem(14px);
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

        .where-input {
            flex: 2.1;
            height: 100%;
            padding: rem(8px) 0 rem(8px) rem(24px);
            border-radius: rem(32px);

        }

        .checkin-input {
            flex: 1;
            padding: rem(13px) 0 rem(13px) rem(24px);
            border-radius: rem(32px);
        }

        .checkout-input {
            flex: 1;
            padding: rem(13px) 0 rem(13px) rem(24px);
            border-radius: rem(32px);
        }

        .who-input {
            flex: 2;
            padding: rem(8px) rem(8px) rem(7px) rem(24px);
            border-radius: rem(32px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;
            }

        }

        &.active-filter {

            .where-input,
            .checkin-input,
            .checkout-input,
            .who-input {

                &.active-input {
                    z-index: 1;
                }

                &:not(.active-input) {
                    &.hovered {
                        background-color: rgb(220, 220, 220);
                    }
                }
            }

            .where-input {
                &.active-input {
                    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.094);
                }

                &.after {
                    position: relative;

                    &.hovered {

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 90%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }

                }
            }

            .checkin-input {
                &.active-input {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.094);
                }

                &.before {
                    position: relative;

                    &.hovered {

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -20%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }
                }

                &.after {
                    position: relative;

                    &.hovered {

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 80%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }

                }
            }

            .checkout-input {
                &.active-input {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.094);
                }

                &.before {
                    position: relative;

                    &.hovered {

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -20%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }
                }

                &.after {
                    position: relative;

                    &.hovered {

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 80%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }

                }
            }

            .who-input {
                &.active-input {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.094);
                }

                &.before {
                    position: relative;

                    &.hovered {

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -20%;
                            width: rem(80px);
                            height: 100%;
                            background-color: rgb(220, 220, 220);
                            z-index: -1;
                        }
                    }
                }
            }
        }

        .where-input,
        .checkin-input,
        .checkout-input,
        .who-input {
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >div:first-of-type {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            p:nth-child(2) {
                font-family: AirbnbCereal-Light;
                font-size: rem(14px);
            }

            &.active-input {
                background-color: #fff;
            }

            &.hovered:not(.active-input) {
                position: relative;
                background-color: #efefef;
            }
        }

        .border-div {
            display: block;
            border-left: 1px solid #DDDDDD;
            height: rem(24px);
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            padding: rem(14px);
            margin-inline-start: rem(10px);
            transition: background 300ms;

            &:hover {
                background: #E00B41;
                // background: linear-gradient(90deg, #FF385C 5%, #E00B41 95%);
            }

            svg {
                fill: white;
                width: rem(20px);
                height: rem(20px);
            }
        }

        .mobile-filter {
            display: none;
        }
    }
}