:root {
    --border-radius-full: 50%;
    --border-radius-left: 50% 0 0 50%;
    --border-radius-right: 0 50% 50% 0;
    --font-size: 14px;
    --font-family: AirbnbCereal-Medium;
    --color-passed: #b7b7b7;
    --color-background: rgb(247, 247, 247);
    --color-selected: #000;
    --color-text-selected: #fff;
}

.calendar-picker {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    table {
        thead {
            display: flex;
            flex-direction: column;
            justify-content: center;

            tr:first-child {
                margin-bottom: rem(16px);
            }
        }

        th {
            &.month-name {
                margin-inline: auto;
            }

        }

        th:not(.month-name),
        td {
            width: rem(48px);
            height: rem(48px);
        }

        tr {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &.day-names {
                font-size: rem(12px);
                color: grey;
            }

            td {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &:not(.blank-td, .passed) {
                    cursor: pointer;
                }

                &.blank-td,
                &.passed {
                    pointer-events: none;
                    color: var(--color-passed);
                }

                &.selected-start {

                    &.hovered-date,
                    &.in-range {
                        border-radius: var(--border-radius-left);
                        background-color: var(--color-background);
                    }
                }

                &.selected-end {

                    &.hovered-date,
                    &.in-range {
                        border-radius: var(--border-radius-right);
                        background-color: var(--color-background);
                    }
                }

                &.hover-selected-date {
                    &.hovered-date {
                        background-color: var(--color-background);
                        border-radius: var(--border-radius-right);
                    }
                }

                &.in-range:not(.selected-start, .selected-end),
                &.hovered-date:not(.selected-start, .selected-end, .hover-selected-date) {
                    background-color: var(--color-background);
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: var(--font-size);
                    font-family: var(--font-family);

                    &:hover:not(.passed) {
                        border: 1px solid var(--color-selected);
                        border-radius: var(--border-radius-full);
                    }

                    &.selected-start,
                    &.selected-end,
                    &.hover-selected-date {
                        color: var(--color-text-selected);
                        background-color: var(--color-selected);
                        border-radius: var(--border-radius-full);
                    }
                }
            }
        }
    }

    svg {
        width: rem(20px);
        height: rem(20px);
        cursor: pointer;
    }
}