.calendar-picker {
    display: flex;
    justify-content: space-between;
    width: 100%;

    table {
        thead {
            display: flex;
            flex-direction: column;
            justify-content: center;

            tr:first-child {
                margin-block-end: rem(16px);
            }
        }

        th {
            &.month-name {
                margin-inline: auto;
            }
        }

        tr {
            display: flex;
            justify-content: space-between;
            gap: rem(8px);
            width: 100%;

            td {
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover:not(.passed) {
                    border: 1px solid #000;
                    border-radius: 50%;
                }

                &.passed {
                    color: #b7b7b7;
                }

                &.selected-start,
                &.selected-end,
                &.hover-selected-date {
                    color: #fff;
                    background-color: #000;
                    border-radius: 50%;
                    z-index: 1;
                }

                &.in-range:not(.selected-start, .selected-end),
                &.hovered-date:not(.selected-start, .selected-end, .hover-selected-date) {
                    position: relative;
                    background-color: rgb(247, 247, 247);
                }

                &.in-range:not(.selected-start, .selected-end) {
                    z-index: 0;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: -50%;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background-color: rgb(247, 247, 247);
                        z-index: -1;
                    }

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        content: '';
                        width: 55%;
                        height: 100%;
                        background-color: rgb(247, 247, 247);
                        z-index: -1;
                    }

                    &:first-child {

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            content: '';
                            width: 0%;
                            height: 100%;
                            background-color: red;
                            z-index: -1;
                        }
                    }

                    &:last-child {

                        &::after {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            content: '';
                            width: 0%;
                            height: 100%;
                            background-color: red;
                            z-index: -1;
                        }
                    }
                }
            }
        }

        th:not(.month-name),
        td {
            width: rem(44px);
            height: rem(44px)
        }
    }

    svg {
        width: rem(20px);
        height: rem(20px);
    }
}