.calendar-picker {
    display: flex;
    justify-content: space-between;
    width: 100%;

    table {
        thead {
            display: flex;
            flex-direction: column;
            justify-content: center;

            tr:first-child {
                margin-block-end: 16px;
            }
        }

        th {
            &.month-name {
                margin-inline: auto;
            }
        }

        tr {
            display: flex;
            justify-content: space-between;
            width: 100%;

            td {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &.in-range {
                    background-color: #ddd;
                }

                &.selected-start.hovered-date {
                    border-radius: 50% 0 0 50%;
                    background-color: #ddd;
                }

                &.hover-selected-date.hovered-date {
                    background-color: #ddd;
                    border-radius: 0 50% 50% 0;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    &:hover:not(.passed) {
                        border: 1px solid #000;
                        border-radius: 50%;
                    }

                    &.passed {
                        color: #b7b7b7;
                    }

                    &.selected-start,
                    &.selected-end,
                    &.hover-selected-date {
                        color: #fff;
                        background-color: #000;
                        border-radius: 50%;
                    }

                    &.in-range:not(.selected-start, .selected-end),
                    &.hovered-date:not(.selected-start, .selected-end, .hover-selected-date) {
                        background-color: rgb(247, 247, 247);
                    }
                }
            }
        }

        th:not(.month-name),
        td {
            width: 44px;
            height: 44px;
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}