.filter-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10px);
    padding: rem(8px) rem(8px) rem(8px) rem(32px);
    min-width: rem(340px);
    width: 100%;
    max-width: rem(850px);
    border: 1px solid #DDDDDD;
    border-radius: rem(30px);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    font-family: AirbnbCereal-Medium;
    font-size: rem(12px);
    color: rgb(92, 92, 92);
    z-index: 1;

    .where-input {
        flex: 2.5;
    }

    .checkin-input {
        flex: 1;
    }

    .checkout-input {
        flex: 1;
    }

    .who-input {
        flex: 1.8;
    }

    .checkin-input,
    .checkout-input,
    .who-input {
        padding-inline: rem(10px);
    }

    .where-input,
    .checkin-input,
    .checkout-input,
    .who-input {
        p:nth-child(2) {
            font-family: AirbnbCereal-Light;
            font-size: rem(14px);
        }
    }

    .border-div {
        border-left: 1px solid rgb(169, 168, 168);
        height: rem(24px);
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        padding: rem(14px);
        margin-inline-start: rem(10px);
        transition: background 300ms;

        &:hover {
            background: #E00B41;
            // background: linear-gradient(90deg, #FF385C 5%, #E00B41 95%);
        }

        svg {
            fill: white;
            width: rem(20px);
            height: rem(20px);
        }
    }
}