.filter-search,
.minimized-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: rem(10px);
    // padding: rem(8px) rem(8px) rem(8px) rem(20px);
    border: 1px solid #DDDDDD;
    border-radius: rem(32px);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    font-family: AirbnbCereal-Medium;
    color: rgb(92, 92, 92);
    z-index: 1;
    height: rem(65px);

    &.active-filter {
        background-color: #ebebeb;
    }
}

.filter-search {
    width: 100%;
    font-size: rem(12px);
    margin-block-end: rem(12px);

    .where-input,
    .checkin-input,
    .checkout-input,
    .who-input {
        display: none;
    }

    .border-div {
        display: none;

        &.hide-border {
            visibility: hidden;
        }
    }

    button {
        display: none;
    }

    .mobile-filter {
        display: flex;
        align-items: center;
        gap: rem(14px);

        svg {
            width: rem(24px);
            height: rem(24px);
        }

        p:first-child {
            font-size: rem(14px);
            font-family: AirbnbCereal-Medium;
        }

        p:nth-child(2) {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            width: 48vw;
            font-size: rem(11px);
            font-family: AirbnbCereal-Light;
        }
    }
}

.minimized-filter {
    height: auto;
    font-size: rem(14px);

    .border-div {
        display: block;
        border-left: 1px solid #DDDDDD;
        height: rem(24px);
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        padding: rem(8px);
        margin-inline-start: rem(10px);
        transition: background-color 300ms;

        &:hover {
            background: #E00B41;
            // background: linear-gradient(90deg, #FF385C 5%, #E00B41 95%);
        }

        svg {
            fill: white;
            width: rem(14px);
            height: rem(14px);
        }
    }
}

@include for-normal-layout {
    .filter-search {
        min-height: rem(56px);

        .where-input {
            flex: 2.5;
            height: 100%;
            padding: rem(8px) 0 rem(8px) rem(24px);
            border-radius: rem(32px);
        }

        .checkin-input {
            flex: 1;
            padding: rem(12px) 0 rem(12px) rem(24px);
            border-radius: rem(32px);
        }

        .checkout-input {
            flex: 1;
            padding: rem(12px) 0 rem(12px) rem(24px);
            border-radius: rem(32px);
        }

        .who-input {
            flex: 1.8;
            padding: rem(12px) rem(8px) rem(12px) rem(24px);
            border-radius: rem(32px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;
            }
        }

        .where-input,
        .checkin-input,
        .checkout-input,
        .who-input {

            display: flex;
            align-items: center;
            justify-content: space-between;

            >div:first-of-type {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &.active-input {
                background-color: #fff;
            }

            p:nth-child(2) {
                font-family: AirbnbCereal-Light;
                font-size: rem(14px);
            }
        }

        .border-div {
            display: block;
            border-left: 1px solid #DDDDDD;
            height: rem(24px);
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            padding: rem(14px);
            margin-inline-start: rem(10px);
            transition: background 300ms;

            &:hover {
                background: #E00B41;
                // background: linear-gradient(90deg, #FF385C 5%, #E00B41 95%);
            }

            svg {
                fill: white;
                width: rem(20px);
                height: rem(20px);
            }
        }

        .mobile-filter {
            display: none;
        }
    }
}