.where-modal {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;

    h4 {
        font-family: AirbnbCereal-Medium;
        font-size: rem(14px);
        margin-block-end: rem(16px);
    }

    .border-div {
        border-left: 1px solid #dddddd;
        padding-inline-end: rem(18px);
    }

    .recent-searches {
        flex: 1;

        .search-records {
            .record {
                display: flex;
                gap: rem(10px);
                align-items: center;
                height: fit-content;

                .svg-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: rem(48px);
                    width: rem(48px);
                    background-color: #dddddd;
                    border-radius: rem(12px);

                    svg {
                        width: rem(20px);
                        height: rem(20px);
                    }
                }

                .text-container {
                    p:nth-child(2) {
                        font-size: rem(12px);
                        color: grey;
                    }
                }
            }
        }
    }

    .search-regions {
        flex: 1;
        width: 100%;

        .countries {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;

            .country {
                display: flex;
                flex-direction: column;
                font-size: rem(14px);
                padding: rem(10px);
                border-radius: rem(16px);
                width: fit-content;

                &:hover {
                    background-color: #dddddd;
                }

                &.shrink {
                    img {
                        transform: scale(0.9)
                    }
                }

                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &:nth-child(2) {
                    grid-column: 2;
                    grid-row: 1;
                }

                &:nth-child(3) {
                    grid-column: 3;
                    grid-row: 1;
                }

                &:nth-child(4) {
                    grid-column: 1;
                    grid-row: 2;
                }

                &:nth-child(5) {
                    grid-column: 2;
                    grid-row: 2;
                }

                &:nth-child(6) {
                    grid-column: 3;
                    grid-row: 2;
                }
            }

            img {
                width: 100%;
                border-radius: rem(16px);
                border: 1px solid #dddddd;
                transition: transform 200ms ease-in;
            }
        }
    }

    &.mobile {
        padding: rem(24px) rem(24px) 0 rem(24px);
        margin-block: rem(16px);
        border: none;
        border-radius: rem(24px);
        box-shadow: 0 0 0 1px rgb(0 0 0/4%), 0 6px 20px rgb(0 0 0/20%);

        .search-regions {
            h2 {
                font-size: rem(22px);
                font-family: AirbnbCereal-Bold;
                margin-block-end: rem(16px);
            }

            form {
                width: 100%;

                .input {
                    display: flex;
                    align-items: center;
                    gap: rem(10px);
                    border: 1px solid grey;
                    border-radius: rem(12px);
                    padding: rem(14px) rem(24px);
                }

                svg {
                    width: rem(16px);
                    height: rem(16px);
                }

                input {
                    width: 100%;
                    height: rem(30px);
                    border: none;
                    font-size: rem(14px);
                    font-family: AirbnbCereal-Medium;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .countries {
                display: flex;
                width: 100%;
                overflow-x: auto;
                margin-block-start: rem(12px);

                .country {

                    img {
                        max-width: rem(120px);
                        width: rem(120px);
                        height: rem(120px);
                    }
                }
            }
        }
    }
}