.filter-categories-wrapper {
    // position: sticky;
    // top: 0;
    display: grid;
    grid-auto-flow: column;
    gap: rem(56px);

    &::-webkit-scrollbar {
        display: none;
    }

    .filter-categories-label {
        cursor: pointer;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
        text-size-adjust: 100%;
        gap: rem(9px);
        height: rem(48px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        white-space: nowrap;
        opacity: 0.642534;
        color: #000;
        transition: background-color 0.3s ease;
        padding: 4px 0;
        margin: 12px 0;

        img {
            width: rem(23.75px);
        }

        span {
            font-size: rem(12px);
        }

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: rgb(113, 113, 113);
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            opacity: 1;

            &::after {
                opacity: 0.3;
            }
        }

        &:active {
            transform: $scale3d-small;
        }

        &.focused {
            opacity: 1;

            &::after {
                opacity: 1;
            }
        }
    }

    .filter-categories-scroller {
        background: transparent;
        width: 1px;
        height: 1px;
        color: transparent;
        border: transparent;
        outline: none;
    }
}