.skeleton-stay-img-gallery {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: minmax(auto, calc(30vh)) minmax(auto, calc(30vh));
    gap: 8px;
    margin-block-start: rem(20px);

    &>span:first-child{
        height: 100%;
        grid-row: 1/-1;
        
        span {
            grid-row: 1/-1;
        }
    }

    &>span:last-child {
        display: none;
    }

    span {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
}

.skeleton-main-desc {
    padding-block-start: 32px;

    .skeleton-stay-desc {
        position: relative;
        padding-block-start: 24px;

        .skeleton-with-sticky-order {
            display: flex;
            justify-content: space-between;

            .skeleton-order-stay {
                position: sticky;
                top: 80px;
                display: flex;
                flex-direction: column;
                width: 33.33333333333333%;
                max-width: 1120px;
                margin: 0 0 48px 8.333333333333332%;
                height: 500px;
                z-index: 1;
                border: none;
                padding-inline: 24px;
            }
        }
    }
}