.filter-modal {
    position: absolute;
    top: rem(75px);
    min-width: rem(340px);
    width: 100%;
    max-width: rem(850px);
    border-radius: rem(32px);
    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
    padding: rem(32px) rem(24px) rem(32px) rem(32px);
    background-color: #fff;
    z-index: 10;

    &.who-adjusted {
        align-self: end;
        max-width: rem(400px);
        padding: rem(16px) rem(32px) rem(16px) rem(32px);
    }
}