.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200vh;
    background-color: rgb(213, 229, 237);

    img {
        width: 20rem;
        height: 20rem;
    }

    section {
        padding: 10px;
    }
}