.order-preview {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto rem(24px) 1fr;
    width: 100%;
    margin: 20px 0;

    p {
        margin: 0;
    }

    h2 {
        font-family: AirbnbCereal-Bold;
        font-size: rem(30px);
        grid-column: 2;
        grid-row: 1;
    }

    a {
        align-self: end;
        grid-column: 1;
        grid-row: 1;
        padding: 0 rem(16px) 0 0;
        height: fit-content;
        padding-block-end: rem(5px);

        svg {
            width: rem(24px);
            height: rem(24px);
        }
    }

    .trip-summary {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 2;
        grid-row: 3;

        .trip-details {
            grid-column: 2;
            padding-block-end: 24px;
            border-bottom: 1px solid rgb(221, 221, 221);

            h3 {
                font-family: AirbnbCereal-Bold;
                font-size: rem(20px);
                padding-block-end: rem(24px);
            }

            .dates {
                padding-block-end: rem(24px);
            }

            .dates,
            .guests {
                display: flex;
                justify-content: space-between;
                width: 100%;

                p {
                    line-height: 1.6;

                    &:first-of-type {
                        font-weight: 600;
                        padding-block-end: rem(5px);
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    text-decoration: underline;
                }
            }

        }

        .payment-summary {
            margin-block-end: rem(30px);

            h3 {
                font-family: AirbnbCereal-Bold;
                font-size: rem(20px);
                padding-block: rem(24px);
            }

            .payment-options {
                border: 1px solid rgb(221, 221, 221);
                outline: 1px solid rgb(221, 221, 221);
                border-radius: rem(8px);

                .payment-option {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    border: 1px solid #ffff;
                    border-radius: rem(8px);

                    &:not(.selected):first-child {
                        border-bottom: 1px solid rgb(221, 221, 221);
                    }

                    &.selected {
                        border: 1px solid #000;
                        outline: 1px solid #000;
                    }

                    &.selected:first-of-type {
                        border-radius: rem(8px) rem(8px) 0 0;
                    }

                    &.selected:last-of-type {
                        border-radius: 0 0 rem(8px) rem(8px);
                    }

                    p {
                        padding: rem(16px) rem(10px);
                    }

                    button {
                        background-color: transparent;
                        border: none;
                        padding-inline-end: rem(10px);

                        svg {
                            width: rem(30px);
                            height: rem(30px);
                        }
                    }

                }
            }

        }
    }

    .order-header {
        display: block;
        align-items: center;
    }

    .order-preview-container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;

        .trip-summary-container {
            margin-block-end: 64px;
            line-height: 20px;
        }
    }

    .price-details {
        margin-bottom: 20px;

        h3 {
            margin-bottom: 10px;
        }
    }

    .confirm-btn {
        background-color: #FF385C;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .order-details {
        justify-self: end;
        grid-column: 3;
        grid-row: 3;
        position: sticky;
        top: rem(80px);
        height: fit-content;
        width: 82%;
        min-height: 289px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 24px 24px 24px 24px;
        align-items: center;
        border-bottom-color: rgb(221, 221, 221);
        border-radius: 12px;
        margin-bottom: 88px;
        // margin-inline-start: 8.33%;
        line-height: 20px;

        .stay-details {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            border-bottom: 1px solid #ddd;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            .stay-detail-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding-left: 16px;
                letter-spacing: normal;
                line-height: 20px;
                line-break: strict;
                padding-top: 0px;
                margin-bottom: 5px;
                text-size-adjust: 100%;

                .stay-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                }

                .stay-type {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgb(34, 34, 34);
                    font-weight: 400;
                }

                .stay-reviews {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgb(34, 34, 34);
                    line-height: 18px;
                }

                .stay-review-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: start;
                    justify-content: start;

                    .stay-reviews {
                        padding-left: 4px;
                    }
                }
            }
        }

        .stay-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            width: 100%;


            .stay-info-container {
                // height: 74px;
                // width: 415.656px;
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-bottom: 5px;
                text-size-adjust: 100%;

                .stay-info-container-title {
                    display: block;
                    text-size-adjust: 100%;
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                    padding-top: 24px;
                    padding-bottom: 24px;
                }

                .stay-info-price-container {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    text-size-adjust: 100%;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    text-align: left;

                    .stay-info-price {
                        display: block;
                        text-size-adjust: 100%;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        color: rgb(34, 34, 34);
                    }
                }

            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 5px;
            }
        }
    }
}

.login-menu {
    padding-block-start: 24px;
    border-top: 1px solid rgb(221, 221, 221);

    h3 {
        font-family: AirbnbCereal-Bold;
        font-size: rem(20px);
    }
}

.login-order-preview {
    margin-block-end: 32px;
    padding-block-end: 32px;
    // border-bottom: 1px solid rgb(221, 221, 221);

    .btn-link {
        margin-block: 24px;
        font-size: 18px;
        background-color: transparent;
        padding: rem(10px);
        border-radius: rem(10px);
        border: 1px solid grey;
    }

    form {

        input,
        select {
            width: 100%;
            padding: 16px 36px 16px 12px;
        }

        select {
            border: 1px solid rgb(221, 221, 221);
            border-radius: 8px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            background-image: url("../../../../public/svg/arrow-down.svg");
            background-size: rem(16px);
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 50%;
        }

        input {
            width: 1fr;
            display: block;

            &:nth-child(1) {
                border: 1px solid rgb(221, 221, 221);
                border-radius: 8px 8px 0 0;
            }

            &:nth-child(2) {
                border: 1px solid rgb(221, 221, 221);
            }

            &:nth-child(3) {
                border: 1px solid rgb(221, 221, 221);
                border-radius: 0 0 8px 8px;
            }
        }

        button {
            margin-block-start: 24px;
            width: 100%;
            height: rem(50px);
            background-color: rgb(255, 56, 92);
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
        }
    }
}