.order-status {
    place-content: start;

    p {
        &.pending {
            color: orange;
        }

        &.approved {
            color: green;
        }

        &.declined {
            color: red;
        }
    }
}

.profile {
    max-width: rem(1280px);
    margin-inline: auto;

    h1 {
        &:first-of-type {
            display: none;
        }

        &:nth-of-type(2) {
            font-family: AirbnbCereal-Bold;
            padding-block-start: rem(24px);
            text-align: center;
        }
    }

    .reservations {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-block-end: rem(24px);

        h2 {
            font-family: AirbnbCereal-Light;
            padding-block-start: 50px;
            padding-block-end: 10px;
            font-size: 20px;
        }

        .order-card {
            display: grid;
            grid-template-columns: minmax(5vw, 150px) minmax(5vw, 300px) minmax(5vw, 300px);
            grid-template-rows: minmax(0, 150px) minmax(0, 150px) minmax(0, 80px) minmax(0, 80px);
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
            margin-block: 24px;
            padding: rem(16px) rem(20px) rem(16px) rem(32px);
            border-radius: 8px;
            width: fit-content;

            h3 {
                font-size: 22px;
                line-height: 1.6;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-size: 18px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .order-summary {
                place-content: start;
                grid-column: 1/3;
                grid-row: 3;
            }

            .order-location {
                place-content: start;
                grid-column: 1/3;
                grid-row: 4;
                padding-block-start: rem(16px);
            }

            .order-dates {
                place-content: start;
                grid-column: 3;
                grid-row: 3;
            }

            .order-status {
                grid-column: 3;
                grid-row: 4;
                padding-block-start: rem(16px);

                select {
                    width: 100px;
                    padding: 10px;
                    border: 1px solid rgb(221, 221, 221);
                    border-radius: 8px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: transparent;
                    background-image: url("../../../../../public/svg/arrow-down.svg");
                    background-repeat: no-repeat;
                    background-position-x: 85%;
                    background-position-y: 50%;
                    background-size: 15px;
                }
            }

            .order-images {
                display: grid;
                grid-template-columns: subgrid;
                grid-template-rows: subgrid;
                grid-row: 1/3;
                grid-column: 1/-1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:nth-of-type(1) {
                        grid-row: 1;
                        grid-column: 3;
                    }

                    &:nth-of-type(2) {
                        grid-row: 2;
                        grid-column: 3;
                    }
                }

                .main-image {
                    grid-row: 1/3;
                    grid-column: 1/3;
                }
            }
        }
    }
}


@include for-normal-layout {
    .profile {
        max-width: rem(1280px);
        margin-inline: auto;

        h1 {
            &:first-of-type {
                display: block;
                font-size: rem(18px);
                padding-block-end: rem(10px);
            }

            &:nth-of-type(2) {
                font-family: AirbnbCereal-Bold;
                text-align: start;
            }
        }

        .reservations {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-block-end: rem(24px);

            h2 {
                font-family: AirbnbCereal-Light;
                padding-block-start: 50px;
                padding-block-end: 10px;
                font-size: 20px;
            }

            .order-card {
                display: grid;
                grid-template-columns: minmax(5vw, 150px) minmax(5vw, 300px) minmax(5vw, 300px) minmax(10vw, 300px) minmax(10vw, 300px);
                grid-template-rows: minmax(0, 150px) minmax(0, 150px);
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                margin-block: 24px;
                padding: rem(16px) rem(20px) rem(16px) rem(32px);
                border-radius: 8px;
                width: fit-content;

                h3 {
                    font-size: 22px;
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: 18px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .order-summary {
                    place-content: center;
                    grid-column: 1/3;
                    grid-row: 1;
                }

                .order-location {
                    place-content: start;
                    grid-column: 2;
                    grid-row: 2;
                    padding-inline: rem(10px);
                }

                .order-dates {
                    place-content: center;
                    grid-column: 3;
                    grid-row: 1;
                    padding-block-start: 0;
                }

                .order-status {
                    grid-column: 1;
                    grid-row: 2;

                    select {
                        width: 100px;
                        padding: 10px;
                        border: 1px solid rgb(221, 221, 221);
                        border-radius: 8px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: transparent;
                        background-image: url("../../../../../public/svg/arrow-down.svg");
                        background-repeat: no-repeat;
                        background-position-x: 85%;
                        background-position-y: 50%;
                        background-size: 15px;
                    }
                }

                .order-images {
                    display: grid;
                    grid-template-columns: subgrid;
                    grid-template-rows: subgrid;
                    grid-row: 1/-1;
                    grid-column: 4/-1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        &:nth-of-type(1) {
                            grid-row: 1;
                            grid-column: 3;
                            border-radius: 0 rem(8px) 0 0;
                        }

                        &:nth-of-type(2) {
                            grid-row: 2;
                            grid-column: 3;
                            border-radius: 0 0 rem(8px) 0;
                        }
                    }

                    .main-image {
                        grid-column: 1;
                    }
                }
            }
        }
    }
}