.stay-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40px);

    >div {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: rem(350px);

        .stay-desc {
            display: flex;
            justify-content: space-between;
            height: fit-content;

            p {
                font-family: AirbnbCereal-Book;
                line-height: rem(19px);
                font-size: rem(15px);
            }

            .desc-info {

                display: flex;
                flex-direction: column;
                gap: rem(2px);

                p:nth-child(1) {
                    font-weight: 700;
                }

                p:nth-child(2) {
                    color: #6A6A6A;
                }

                p:nth-child(3) {
                    color: #6A6A6A;
                }

                p:nth-child(4) {
                    margin-block-start: rem(6px);

                    span {
                        font-weight: 700;
                    }
                }
            }

            .desc-rating {
                display: flex;
                align-items: center;
                height: fit-content;
                gap: rem(5px);

                svg {
                    width: rem(12px);
                    height: rem(12px);
                }
            }
        }
    }
}


@include for-narrow-layout {
    .stay-gallery {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: rem(40px) rem(24px);
    }
}

@include for-wide-layout {
    .stay-gallery {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: rem(40px) rem(24px);
    }
}

@include for-extra-wide-layout {
    .stay-gallery {
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: rem(40px) rem(24px);
    }
}

@include for-dextra-wide-layout {
    .stay-gallery {
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        gap: rem(40px) rem(24px);
    }
}

@include for-ddextra-wide-layout {
    .stay-gallery {
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-between;
        gap: rem(40px) rem(24px);
    }
}