:root {
    --border-radius-full: 50%;
    --border-radius-left: 50% 0 0 50%;
    --border-radius-right: 0 50% 50% 0;
    --font-size: 14px;
    --font-family: AirbnbCereal-Medium;
    --color-passed: #b7b7b7;
    --color-background: rgb(247, 247, 247);
    --color-selected: #000;
    --color-text-selected: #fff;
}

.calendar-picker {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    // Mobile styles
    &.mobile {
        flex-direction: column;
        height: 60vh;

        .current-month {
            .prev-month-nav {
                th:nth-of-type(3) {
                    display: block;
                }
            }
        }

        table {
            position: relative;
            margin-block-end: rem(32px);

            thead {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 5;
                background-color: #ffffff;
            }

            .month-name {
                text-align: start;
                justify-content: start;
                width: rem(462px);
                height: auto;
                font-family: AirbnbCereal-Medium;
                font-size: rem(16px);
                color: rgb(34, 34, 34);
                margin-block-start: rem(32px);
            }

            tr {
                justify-content: center;

                &.table-title {
                    justify-content: start;
                    padding-inline: rem(20px);

                    th {
                        width: fit-content;
                    }

                    h2 {
                        font-size: rem(22px);
                        font-family: AirbnbCereal-Bold;
                        margin-block-end: rem(32px);
                    }
                }

                &.day-names {
                    border-bottom: 1px solid #efefef;

                    th {
                        height: rem(24px);
                        padding-block-end: rem(24px);
                    }
                }

                &.table-title,
                &.day-names {
                    position: relative;
                }
            }

            th:not(.month-name),
            td {
                width: rem(68px);
                height: rem(68px);
            }
        }

        .load-dates {
            padding-inline: rem(20px);
            margin-block: rem(16px);

            button {
                width: 100%;
                background-color: transparent;
                padding: rem(13px) rem(23px);
                border-radius: rem(8px);
                font-size: rem(16px);
            }
        }

        .control-buttons {
            display: flex;
            justify-content: space-between;
            padding-inline: rem(20px);

            button {
                font-family: AirbnbCereal-Medium;
                font-size: rem(16px);
                border: none;

                &:focus {
                    outline: none;
                }
            }

            .skip-button {
                background-color: transparent;
                text-decoration: underline;
            }

            .next-button {
                width: rem(128px);
                color: #fff;
                background-color: rgb(34, 34, 34);
                padding: rem(14px) rem(24px);
                border-radius: rem(8px);
            }
        }
    }

    // Minimized calendar styles
    &.minimize-calendar {
        flex-direction: column;
        width: fit-content;
        margin: auto;

        .current-month {
            .prev-month-nav {
                th:nth-of-type(3) {
                    display: block;
                }
            }

            .next-month-nav {
                display: block;
            }
        }

        .next-month {
            display: none;
        }

        table {
            tr {
                justify-content: center;
            }
        }
    }

    // General table styles
    table {
        thead {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        th {
            &.month-name {
                margin-inline: auto;
            }

            &.disabled {
                svg {
                    fill: rgb(221, 221, 221);
                }
            }
        }

        th:not(.month-name),
        td {
            width: rem(48px);
            height: rem(48px);
        }

        tr {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &.day-names {
                font-size: rem(12px);
                color: grey;
            }

            td {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &:not(.blank-td, .passed) {
                    cursor: pointer;
                }

                &.blank-td,
                &.passed {
                    pointer-events: none;
                    color: var(--color-passed);
                }

                &.selected-start {

                    &.hovered-date,
                    &.in-range {
                        border-radius: var(--border-radius-left);
                        background-color: var(--color-background);
                    }
                }

                &.selected-end {

                    &.hovered-date,
                    &.in-range {
                        border-radius: var(--border-radius-right);
                        background-color: var(--color-background);
                    }
                }

                &.hover-selected-date {
                    &.hovered-date {
                        background-color: var(--color-background);
                        border-radius: var(--border-radius-right);
                    }
                }

                &.in-range:not(.selected-start, .selected-end),
                &.hovered-date:not(.selected-start, .selected-end, .hover-selected-date) {
                    background-color: var(--color-background);
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: var(--font-size);
                    font-family: var(--font-family);

                    &:hover:not(.passed) {
                        border: 1px solid var(--color-selected);
                        border-radius: var(--border-radius-full);
                    }

                    &.selected-start,
                    &.selected-end,
                    &.hover-selected-date {
                        color: var(--color-text-selected);
                        background-color: var(--color-selected);
                        border-radius: var(--border-radius-full);
                    }
                }
            }
        }
    }

    // Current month navigation
    .current-month {
        .prev-month-nav {
            th:nth-of-type(3) {
                display: none;
            }
        }
    }

    // General SVG styles
    svg {
        width: rem(20px);
        height: rem(20px);
        fill: #000;
        cursor: pointer;
    }
}