.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20px);
}

/* GRIDS */
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: rem(10px);
}

/* Responsive Layout */

.main-app {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    justify-content: center;

    .grouped-header-comps {
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        background: #fff;
        z-index: 10;
    }

    header {
        grid-column: 1/-1;
        grid-row: 1;
        height: fit-content;
        padding-block-start: rem(10px);
        z-index: 4;
        background-color: #fff;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 2;
        grid-column: 1/-1;
        grid-row: 1/6;
        grid-row: 1/6;

        &.modal {
            grid-column: 1/-1;
            grid-row: 1/6;
            z-index: 5;
            background-color: rgba(34, 34, 34, 0.555);
        }
    }

    &.stay-details-layout {
        grid-template-rows: 1fr auto;

        .stay-details-header-container {
            background-color: #fff;
            grid-column: 1/-1;
            grid-row: 1;

            header {
                padding-inline: rem($padding-xxl);
            }
        }

        .overlay:not(.modal) {
            top: rem(168px)
        }

        main {
            grid-row: 1;
            padding-inline: 0;
        }
    }

    &.profile-layout {
        grid-template-rows: auto 1fr auto;

        main {
            grid-row: 2;
        }

        footer {
            grid-column: 1/-1;
            grid-row: 3;
        }
    }

    main {
        position: relative;
        grid-column: 1/-1;
        grid-row: 3;
        padding-inline: rem($padding-xl);

    }

    footer {
        padding-block: rem(10px);
        padding-inline: rem($padding-xl);

        &.sticky {
            position: sticky;
            bottom: 0;
            left: 0;
        }

        &.mobile-footer {
            position: sticky;
            bottom: 0;
            left: 0;
            grid-column: 1/-1;
            grid-row: 4;
        }
    }

    // .scroll-menu-wrapper {
    //     grid-row: 2;
    //     grid-column: 1/-1;
    // }

    @include for-normal-layout {

        grid-template-columns: auto 1fr auto;
        grid-template-rows: minmax(auto, 240px) auto 1fr auto;
        margin-block-start: 0;
        transition: margin-block-start 250ms ease;

        &.scrolled {
            margin-block-start: rem(-150px);
        }

        &.stay-details-layout {
            grid-template-rows: 80px auto 1fr;

            main {
                grid-row: 2;
                padding-inline: rem($padding-xxl);
            }
        }

        &.profile-layout {

            main {
                grid-row: 2;
                padding-inline: rem($padding-xxl);
            }

            .stay-details-header-container {
                header {
                    // padding-inline: rem($padding-xxl);
                }
            }

            footer {
                padding-inline: rem($padding-xxl);
            }
        }

        .stay-details-header-container {

            header {
                padding-block-start: 0;
                padding-block-end: rem(10px);

                &.stay-details-header {
                    &.expanded-filter {
                        background-color: #fff;
                    }
                }
            }
        }

        main {
            padding-inline: rem($padding-xxl);

            &:not(.stay-details, .profile) {
                margin-block-start: rem(120px);
            }
        }

        .scroll-menu-wrapper {
            padding-inline: rem($padding-xxl);
        }

        footer {
            position: relative;
            grid-column: 1/-1;
            grid-row: 5;
            padding-block: rem(10px);
            padding-inline: rem($padding-xxl);
        }
    }

    @include for-wide-layout {
        grid-template-columns: rem(80px) 1fr rem(80px);
        grid-template-rows: minmax(80px, 165px) 20px auto 1fr;

        &.scrolled {
            margin-block-start: rem(-80px);
        }

        // header {
        //     // padding-inline: rem($padding-xxxl);
        // }

        main {
            &:not(.stay-details, .profile) {
                margin-block-start: rem(100px);
            }

            padding-inline: rem($padding-xxxl);
        }

        .scroll-menu-wrapper {
            // grid-column: 1/-1;
            padding-inline: rem($padding-xxxl);
        }

        footer {
            padding-block: rem(10px);
            padding-inline: rem($padding-xxxl);
        }
    }
}