.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20px);
}

/* GRIDS */
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: rem(10px);
}

/* Responsive Layout */

.main-app {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: minmax(auto, 180px) 1fr auto;
    justify-content: center;

    header {
        grid-column: 1/-1;
        grid-row: 1;
        height: fit-content;
        background-color: #fff;
        padding-block-end: rem(10px);
        border-bottom: 1px solid #ededed;
        padding-inline: rem($padding-xl);
        z-index: 2;
    }

    main {
        position: relative;
        grid-column: 1/-1;
        grid-row: 2;
        padding-inline: rem($padding-xl);

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: 1;
        }
    }

    // @include for-extra-narrow-layout {}

    // @include for-narrow-layout {}

    @include for-normal-layout {

        grid-template-columns: rem(80px) 1fr rem(80px);

        .main-app {
            grid-template-rows: minmax(auto, 200px) 1fr auto;
        }

        header {
            padding-inline: rem($padding-xxl);
        }

        main {
            padding-inline: rem($padding-xxl);
        }
    }

    @include for-wide-layout {
        header {
            padding-inline: rem($padding-xxl);
        }

        main {
            padding-inline: rem($padding-xxl);
        }
    }
}