header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    background-color: transparent;

    .filter-search-container {
        padding-inline: rem($padding-xl);
        margin-block-end: rem(20px);
    }

    &.scrolled {
        background-color: #fff;

        .filter-search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 2;
            grid-row: 1;
            padding-inline: 0;

            &.mobile {
                padding-inline: rem($padding-xl);
            }
        }
    }

    &.expanded {
        background-color: #fff;
    }

    .user-nav,
    .nav-options,
    .logo {
        display: none;
        width: fit-content;
    }

    .filter-search-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
        width: 100%;

        >div:not(.minimized-filter) {
            width: 100%;
        }
    }
}

@include for-normal-layout {
    header {
        top: 0;
        grid-template-rows: rem(80px) auto auto auto;

        .logo {
            padding-inline-start: rem($padding-xxl);
        }

        .filter-search-container {
            padding-inline: rem($padding-xxl);
        }

        .user-nav {
            padding-inline-end: rem($padding-xxl);
        }

        .scroll-menu-wrapper {
            padding-inline: rem($padding-xxl);
        }

        .logo {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-self: start;
            gap: rem(8px);

            img {
                width: rem(30px);
                height: rem(30px);
            }

            span {
                display: none;
                font-family: AirbnbCereal-ExtraBold;
                font-size: rem(22px);
            }
        }

        .nav-options {
            display: flex;
            grid-column: 1/-1;
            grid-row: 2;
            align-items: center;
            gap: rem(20px);

            a {
                font-family: AirbnbCereal-Light;
                font-size: rem(16px);
                color: grey;
                padding-block-end: rem(24px);

                &.active {
                    color: #000;
                    font-family: AirbnbCereal-Medium;
                }
            }
        }

        .filter-search-container {
            grid-row: 3;
            margin-block-end: rem(10px);

            &>div:not(.minimized-filter) {
                display: flex;
                flex-direction: column;
                width: 100%;
                min-width: rem(340px);
                max-width: rem(850px);
            }
        }

        .user-nav {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-self: end;

            a {
                font-family: AirbnbCereal-Book;
                font-size: rem(14px);
            }

            svg {
                width: rem(20px);
                height: rem(20px);
            }

            .user-menu {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: rem(10px);
                padding: rem(8px) rem(8px) rem(8px) rem(14px);
                border-radius: rem(30px);
                transition: 200ms box-shadow;
                margin-inline-start: rem(10px);

                &:hover {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        fill: grey;
                    }

                    &.menu-icon {
                        svg {
                            width: rem(20px);
                            height: rem(20px);
                        }
                    }

                    &.profile-icon {
                        svg {
                            width: rem(32px);
                            height: rem(32px);
                        }
                    }
                }

                .user-menu-modal {
                    position: absolute;
                    top: rem(60px);
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    background-color: #fff;
                    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
                    border-radius: rem(10px);
                    min-width: rem(240px);
                    max-height: calc(100vh - 100px);
                    z-index: 5;
                    padding-block: rem(16px);

                    &>div {
                        display: block;
                        width: 100%;

                        &:first-of-type {
                            border-bottom: 1px solid #efefef;
                            padding-block-end: rem(10px);
                            margin-block-end: rem(10px);
                        }

                        p,
                        a {
                            padding: rem(8px) rem(16px);
                            font-size: rem(14px);
                            border-radius: 0;
                            font-family: AirbnbCereal-Book;
                            cursor: pointer;

                            &:hover {
                                font-family: AirbnbCereal-Bold;
                                background-color: #F7F7F7;
                                font-weight: 500;
                            }
                        }

                    }

                    &.hide {
                        display: none;
                    }
                }
            }
        }
    }
}

@include for-wide-layout {
    header {
        grid-template-columns: 1fr 2fr 1fr;

        .logo {
            padding-inline-start: rem($padding-xxxl);
        }

        .filter-search-container {
            padding-inline: rem($padding-xxxl);
        }

        .user-nav {
            padding-inline-end: rem($padding-xxxl);
        }

        .scroll-menu-wrapper {
            padding-inline: rem($padding-xxxl);
        }

        .logo {
            span {
                display: block;
            }
        }

        .nav-options {
            grid-column: 1/-1;
            grid-row: 1;

            a {
                padding-block-end: rem(10px);
            }
        }

        // .filter-search-container {
        //     grid-row: 2/-1;
        // }
    }
}