.auth-modal {
    display: none;
    position: absolute;
    top: 8%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: rem(568px);
    max-height: rem(400px);
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    border-radius: rem(12px);

    &.show {
        display: flex;
        flex-direction: column;
    }

    svg {
        width: rem(24px);
        height: rem(24px);
    }

    &>div {
        display: flex;
        width: 100%;
    }

    .auth-modal-header {
        padding: rem(24px) rem(24px) rem(10px) rem(24px);
        border-bottom: 1px solid #efefef;

        p {
            font-family: AirbnbCereal-Book;
            margin: auto;
        }

        button {
            background-color: transparent;
            border: none;

            p {
                font-family: AirbnbCereal-Light;
            }
        }
    }

    .enter-credentials {
        flex-direction: column;
        padding: rem(24px) rem(24px) rem(10px) rem(24px);
        height: 100%;

        h1 {
            font-family: AirbnbCereal-Bold;
            padding-block-end: rem(16px);
        }

        form {
            &>div {
                position: relative;

                &.phone-number {

                    div {
                        position: relative;
                        width: 100%;

                        p {
                            position: absolute;
                            top: 50%;
                            left: rem(10px);
                            transform: translate(0, -3px);
                        }

                        input {
                            padding-inline-start: rem(54px);
                        }
                    }

                }
            }

            label {
                position: absolute;
                color: rgb(106, 106, 106);
                font-size: rem(12px);
                font-family: AirbnbCereal-Book;
                padding-inline-start: rem(12px);
                z-index: 1;

                &:nth-last-of-type(1) {
                    top: rem(10px);
                    left: 0;
                }

                &:nth-last-of-type(2) {
                    top: rem(10px);
                    left: 0;
                }
            }


            input,
            select {
                display: block;
                border: 1px solid black;
                width: 100%;
                padding: rem(28px) rem(36px) rem(10px) rem(12px);
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: transparent;
                background-image: url("../../../../public/svg/arrow-down.svg");
                background-size: rem(16px);
                background-repeat: no-repeat;
                background-position-x: 97%;
                background-position-y: 50%;
                border-radius: rem(12px) rem(12px) 0 0;
                font-size: rem(16px);
                font-family: AirbnbCereal-Book;
            }

            input {
                border-top: none;
                border-radius: 0 0 rem(12px) rem(12px);
            }
        }

        &.login-layout {
            padding-block-start: 0;

            .login-page {
                margin-block-end: 32px;
                padding-block-end: 32px;
                // border-bottom: 1px solid rgb(221, 221, 221);

                .btn-link {
                    margin-block: 24px;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: transparent;
                    padding: rem(10px);
                    border-radius: rem(10px);
                    border: 1px dashed grey;
                }

                form {

                    input,
                    select {
                        width: 100%;
                        padding: 16px 36px 16px 12px;
                    }

                    select {
                        border: 1px solid rgb(221, 221, 221);
                        border-radius: 8px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: transparent;
                        background-image: url("../../../../public/svg/arrow-down.svg");
                        background-size: rem(16px);
                        background-repeat: no-repeat;
                        background-position-x: 97%;
                        background-position-y: 50%;
                    }

                    input {
                        width: 1fr;
                        display: block;

                        &:nth-child(1) {
                            border: 1px solid rgb(221, 221, 221);
                            border-radius: 8px 8px 0 0;
                        }

                        &:nth-child(2) {
                            border: 1px solid rgb(221, 221, 221);
                        }

                        &:nth-child(3) {
                            border: 1px solid rgb(221, 221, 221);
                            border-radius: 0 0 8px 8px;
                        }
                    }

                    button {
                        margin-block-start: 24px;
                        width: 100%;
                        height: rem(50px);
                        background-color: rgb(255, 56, 92);
                        color: white;
                        padding: 10px 20px;
                        border-radius: 8px;
                        border: none;
                    }
                }
            }
        }
    }

    .submit-button {
        margin-block: rem(20px);

        button {
            border: none;
            width: 100%;
            height: 48px;
            border-radius: 12px;
            color: #ffff;
            font-size: 1rem;
            font-family: AirbnbCereal-Bold;
        }
    }
}